<launch>

	<!-- Recorder launch file -->
	<include file="$(find hand_eye_calibration)/launch/recorder.launch">
		<arg name = "run_config" value = "pointcloud_to_img"/>
		<arg name="calib_data_folder" value="$(find hand_eye_calibration)/data/calib_test"/>
	</include>

	<!-- Zivid ROS wrapper node -->
	<node name="zivid_ros_wrapper" pkg="zivid_ros_wrapper" type="zivid_ros_wrapper_node" >
        <param name="camera_config/camera_mode" value="2" />
		<param name="settings/filters_reflection_enabled" value="true"/>
	</node>
	
	<!-- Zivid ROS republisher -->
	<node name="zivid_ros_wrapper_hdr_republisher_node" pkg="zivid_ros_wrapper" 		
	type="zivid_ros_wrapper_hdr_republisher_node" output="screen"/>

</launch>
